<!DOCTYPE html>
<html lang="{{ site.locale }}">

  <script
    type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
  </script>

  <link rel="stylesheet"
    type="text/css"
    href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">

  <script
    type="text/javascript"
    charset="utf8"
    src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js">
  </script>


  {% include head.html %}

  <body>
    {% include page-header.html %}

    <section class="main-content">

      {{ content }}

      {% include page-footer.html %}

    </section>

  </body>
</html>
