---
layout: default
comments: true
---
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.author }}</p>
<p class="meta">{{ page.date | date_to_string }}</p>


{{ content }}

<script>
  var disqus_config = function () {
    this.page.url = "https://comptag.github.io/teaching-compGT/";
    this.page.identifier = `{{ page.date }}-{{page.title}}`;
  };
(function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://teaching-compgt.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<div id="disqus_thread"></div>
